body {
  padding-bottom: 4em;
}

vscode-text-field {
  width: 100%;
  max-width: 500px;
}

vscode-text-field input {
  font-family: monospace;
}

.form-control {
  margin: 1em 0;
  align-self: stretch;
}

.form-helper {
  color: #aaa;
}

hr {
  margin-bottom: 1.5em;
}

.monospace {
  font-family: monospace;
}

vscode-button {
  margin: 1em 0;
}

vscode-button .codicon {
  position: relative;
  top: 2px;
}

vscode-button .codicon-chevron-right {
  margin-left: .5em;
}

vscode-button .codicon-chevron-left {
  margin-right: .5em;
}

#form-error {
  display: none;
  border: 1px solid #e84e4f;
  padding: 0.5em;
  background-color: #9c2b2e;
}

#form-error.visible {
  display: inline;
}

vscode-panel-view {
  flex-direction: column;
  align-items: flex-start;
}

select[multiple] {
  width: 200px;
  background: var(--input-background);
  border-width: 0;
  color: var(--input-foreground);
}

option {
  padding: .5em;
}

select[multiple]:focus {
  outline-color: var(--focus-border);
}